<header>
  <div class="container container-nav">
    <div class="titles">
      <h1>DZ-AGRI APP</h1>
      <p class="subtitle">Web App for wime and vines monitoring</p>
    </div>
    <nav>
      <ul>
        <li class="nav-item active">
          <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
        </li>
        <li class="nav-item active"><a href="./db"><span class="glyphicon glyphicon-tasks"></span> DB page</a></li>
      </ul>
    </nav>
  </div>
</header>